<br />
<div class ="booyah-box">
	<h1 class = "text-center"><%= @course.title %></h1>
	<br />
	
	<div class = "col-sm-2 col-xs-12 text-center">
		<span class ="label label-default">
			<%= number_to_currency @course.cost %>
		</span>
		<br />
		<% if current_user && current_user == @course.user %>
			<%= link_to 'Administer', instructor_course_path(@course) %>
		<% end %>
	</div>
	
	<div class ="col-sm-5 col-xs-12">
		<%= @course.description %>
	</div>

	<div class = "col-sm-5 col-xs-12 pull-right">
		<h3>Sections</h3>
		<ul>
		<% @course.sections.each do |section| %>
			<li><%= section.title %></li>
		<% end %>
		</ul>
	</div>
</div>